::placeholder {
  color: #dddddd !important;
  font-weight:220;
}

.ui-autocomplete-input {
    border: none;
    
  
    
    border: 0.5px solid #dbd2dd !important;
    
    z-index: 1153;
    position: relative;
  }
  .ui-menu .ui-menu-item a {
    font-size: 10px;
  }

  .ui-menu-item-wrapper {
    font-size: 10px;
  }
  .ui-autocomplete {
    z-index: 1153 !important;
    float: left;
    display: none;
    min-width: 160px;
    width: 160px;
    padding: 4px 0;
    margin: 2px 0 0 0;
    list-style: none;
    background-color: #ffffff;
    font-weight: 400 !important;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    
  }
  .ui-menu-item > a.ui-corner-all {
    display: block;
    padding: 3px 15px;
    clear: both;
  }